<h3>Here is the form.</h3>

<form action='/myaction' method='post'>
	<input type='text' name='username' placeholder="User Name"/>  <br />
	<input type='date' name='date' />  <br />
	<input type='password' name='password' class='input' placeholder="Password" />  <br />
	<input type='submit' class='btn' />

</form>