<!--Takes the user's name.-->

<h3 align='center'>Time for some Blackjack</h3>

<form action='/saveuser' method='post' align='center'>
	<input type='text' name='username' placeholder="What's your name?"/>  <br />
	<input type='submit' class='btn' value="Let's play!"/>
</form>